
.section-title {
    color: white;
    padding: 1rem 0;
    font-size: 1.8rem;
    font-family: "Roboto Slab";
    font-weight: 500;
    margin: auto;
}

.books-list {
    width: 25vw;
    height: 50vh;
    padding: 1.5rem;
    margin: 1em auto;
    border-radius: 15px;
    background-color: #57423bf9;
    box-shadow: 10px 10px 20px #3C2F2C;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  
}

.books-list::-webkit-scrollbar {
    display: none;
}

.book-ul {
    padding: 0 5px;
    /* padding: 0; */
}
h3 {
    margin: 0;
    cursor: pointer;
}