.book-page-content {
    box-sizing: border-box;
    border-radius: 10px;
    width: 60vw;
    margin: 2rem auto;
    background-color: #3c2f2cfd;
    /* text-align: center; */
    padding: 3rem 2rem;
}

.book-page-title {
    /* margin: 4rem; */
    margin-left: 6rem;
    /* display: inline  ; */
}

.book-page-subtitle {
    /* margin: 0 4rem;   */
    margin-left: 6rem;
    font-size: 1.3rem;
}

.book-page-author {
    margin-left: 2rem;
    color: white;
    letter-spacing: 0.1rem;
}