label {
    color: antiquewhite;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Gulzar' sans-serif;
}

.book-form {
    padding: 2rem;
    margin: 0 5rem;
    width: 25vw;
    border-radius: 15px;
    background-color: #43424ff8;
    box-shadow: 10px 10px 20px #3C2F2C;  
    
}

.add-book-input {
    margin-top: 1rem;
    width: 90%;
    height: 1.7rem;
    border-radius: 5px;
}

.input-section {
    margin-top: 3rem;
}

.input-section:first-child {
    margin-top: 0;
}

.submit-button {
    padding: 1rem;
    margin: 1.2rem 0 0 0;
    font-weight: 500;
    color: rgb(67, 53, 34);
    background-color: #9F856D;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.submit-button:active {
    background-color: #3C2F2C;
    color: #b39579;
}