.main-section {
    display: flex;
}

.page {
    height: 100%;
}

.page-title {
    margin-left: 1.8rem;
    color: white;
    text-shadow: 3px 3px 3px #3C2F2C;
    font-size: 2.5rem;
}

.section-title {
    color: white;
    padding: 1rem;
    font-size: 1.7rem;
    margin: auto;
}

.books-list {
    width: 25vw;
    height: 50vh;
    overflow: scroll;
    padding: 1.5rem;
    margin: 1em auto;
    background-color: #57423bf9;
    border-radius: 15px;
    box-shadow: 10px 10px 20px #3C2F2C;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  
}
.book {
    color: antiquewhite;
    font-size: 1.4rem;
    padding-block: 0.3rem;
    margin-left: 0;
    
}
.book-info {
    font-size: 1.2rem;
    list-style: none;
    margin-bottom: 0;
}

.books-list::-webkit-scrollbar {
    display: none;
}