.page-title {
    margin-left: 1.5rem;
    font-size: 2rem;
}
.book-title {
    color: antiquewhite;
    font-size: 1.4rem;
    padding-block: 1rem;
    margin-left: 0;
    
}

.main-list {
    margin-top: 1rem;
    margin-left: 15vw;
    background-color: #57423B;
    border-radius: 15px;
    display: inline-block;
    width: 25vw;
    box-shadow: 10px 10px 25px #3C2F2C;
}

.books-list {
    /* list-style: none; */
    padding: 0;
    margin-left: 5vw;
}