.logo {
    color: #423127;
    font-size: 2rem;
    font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
    font-weight: 8  00;
    margin-left: 0.4em;
}

.navbar-list {
    background-color: #9f856deb;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;   
    border-bottom: 1px solid #9f856d;
    border-radius: 0 0 10px 10px;
}
li {
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
}

.link {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Roboto' sans-serif;
    color: #3C2F2C;
    margin: 0;
    padding-block: 10px;
}