h1 {
    color: #423127;
    font-size: 1.7rem;
}
p {
    font-size:1rem;
}

.navbar-list {
    background-color: #9f856d;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
    height: 10vh;
    /* box-shadow: 10px 15px 0px 10px black; */
    border-bottom: 1px solid #9f856d;
    border-radius: 0 0 10px 10px;
}
li {
    padding: 10px;
    cursor: pointer;
}