body {
  background-image: url("./assets/bookshelf.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page {
  height: 100%;
}

.page-title {
  margin-left: 1.8rem;
  color: aliceblue;
  text-shadow: 7px 0px 5px #43424f;
  font-size: 2.7rem;
  font-family: "Roboto";
  font-weight: 500;
}

.page-subtitle {
  margin-left: 2rem;
  color: aliceblue;
  text-shadow: 7px 0px 5px #43424f;
  font-size: 2rem;
  font-family: "Roboto";
  font-weight: 500;
}

.link-button {
  height: 2.5rem;
  width: 6rem;
  margin-bottom: 1.5rem;
  background-color: #9f856d;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  color: #252429;
  cursor: pointer;
}

.link-button:hover {
  color: white;
  transition-delay: 50ms;
}

.link-button:active {
  background-color: #3c2f2c;
}
