body {
    background-image: url('bookshelf.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page {
    height: 100%;
}

.page-title {
    margin-left: 1.8rem;
    color: aliceblue;
    text-shadow: 7px 0px 5px #43424F;
    font-size: 2.7rem;
    font-family: 'Roboto';
    font-weight: 500;
}
