.book {
  font-family: "Gulzar" sans-serif;
  font-weight: 400;
  color: white;
  padding-block: 0.3rem;
  margin-left: 0;
  list-style: none;
  border-bottom: 1px solid #9f856d;
  margin-bottom: 0.25em;
  cursor: auto;
  letter-spacing: 0.05rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.book-title {
  font-size: 1.5rem;
  font-weight: 500;
}
.book-subtitle {
  margin-top: 0.4rem;
  color: white;
}

.book-info {
  font-size: 1.2rem;
  list-style: none;
  margin-bottom: 0;
}
